<p id="notice"><%= notice %></p>
<div class="card text-center">
  <div class="card-header">
    <h2>Streaks</h2>
  </div>
  <div class="row">
    <div class="col">
      <div class="card-body">
        <table class="table table-striped table-hover">
          <thead>
          <tr>
            <th scope="col">New Streaks</th>
          </tr>
          </thead>

          <tbody>
          <% @new_streaks.each do |streak| %>
            <tr>
              <td><%= link_to new_streaks_label(streak.user), streak%></td>
            </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col">
      <div class="card-body">
        <table class="table table-striped table-hover">
          <thead>
          <tr>
            <th scope="col">Active Streaks</th>
          </tr>
          </thead>

          <tbody>
          <% @active_streaks.each do |streak| %>
            <tr>
              <td><%= link_to streak.user.name, streak%> - <%= streak.streak_count %> months</td>
            </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col">
      <div class="card-body">
        <table class="table table-striped table-hover">
          <thead>
          <tr>
            <th scope="col">Broken Streaks</th>
          </tr>
          </thead>

          <tbody>
          <% @broken_streaks.each do |streak| %>
            <tr>
              <td><%= link_to streak.user.name, streak%></td>
            </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
