<%= form_with(model: user) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :current_points %><br>
    <%= form.text_field :current_points %>
  </div>

  <div class="field">
    <%= form.label :earned_points %><br>
    <%= form.text_area :earned_points %>
  </div>

  <div class="field">
    <%= form.label :redeemed_points %><br>
    <%= form.text_field :redeemed_points %>
  </div>

  <div class="field">
    <%= form.label :premium_points %><br>
    <%= form.text_area :premium_points %>
  </div>
  <br>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
