<p id="notice"><%= notice %></p>

<h1>Users</h1>
<%= form_with url: users_path, method: :get, local: true, class: 'form-inline' do |f| %>
  <%= text_field_tag :search, params[:search], class: 'form-control mr-sm-2', placeholder: 'Search by name' %>
  <%= f.submit 'Search', class: 'btn btn-outline-primary my-2 my-sm-0' %>
<% end %>
<br>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th scope="col">User</th>
      <th scope="col">Membership Status</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= link_to user.name, user %></td>
        <td><%= user.premium_subscriber&.capitalize %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @users %>

<br>

<%= link_to 'New User', new_user_path %>
