<h1>GotX Management</h1>
<h3 id="notice" style="color:red"><%= notice %></h3>
<div class="row">
	<div class="col">
		<div class="card">
			<h5 class="card-header">Create Weekly RetroBit</h5>
			<div class="card-body">
				<p class="card-text">Create a new RetroBit game entry.</p>
				<%= form_with url: create_weekly_retrobit_games_path, method: :post do |form| %>
				<%= form.label :screenscraper_id, 'Screenscraper ID' %>
				<%= form.text_field :screenscraper_id %>
				<%= form.submit 'Create RetroBit', class: 'btn btn-outline-primary my-2 my-sm-0' %>
				<% end %>
			</div>
		</div>
	</div>
	<div class="col">
		<div class="card">
			<h5 class="card-header">Create RPGotQ</h5>
			<div class="card-body">
				<p class="card-text">Create a new RPGotQ nomination.</p>
				<%= form_with url: create_monthly_rpg_games_path, method: :post do |form| %>
				<%= form.label :screenscraper_id, 'Screenscraper ID' %>
				<%= form.text_field :screenscraper_id %>
				<%= form.select :theme_id, Theme.rpg.order(created_at: :desc).limit(3).collect { |t| [t.title, t.id] } %>
				<%= form.submit 'Create RPGotQ', class: 'btn btn-outline-primary my-2 my-sm-0' %>
				<% end %>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col">
		<div class="card">
			<h5 class="card-header">Create GotM Theme</h5>
			<div class="card-body">
				<p class="card-text">Create a new monthly Theme for GotM.</p>
				<%= link_to 'Create Theme', new_theme_path, class: "btn btn-outline-primary my-2 my-sm-0" %>
			</div>
		</div>
	</div>
	<div class="col">
		<div class="card">
			<h5 class="card-header">Pick Winning GotM Nominations</h5>
			<div class="card-body">
				<p class="card-text">Pick the winning game nominations for the current GotM or RPGotQ.</p>
				<a href="<%= current_nominations_path %>" class="btn btn-outline-primary my-2 my-sm-0">Pick Winners</a>
			</div>
		</div>
	</div>
</div>