<%= form_with(model: game) do |form| %>
  <% if game.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(game.errors.count, "error") %> prohibited this game from being saved:</h2>

      <ul>
        <% game.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= form.label :title_usa %><br>
    <%= form.text_field :title_usa %>
  </div>

  <div class="field">
    <%= form.label :title_eu %><br>
    <%= form.text_field :title_eu %>
  </div>

  <div class="field">
    <%= form.label :title_jp %><br>
    <%= form.text_field :title_jp %>
  </div>

  <div class="field">
    <%= form.label :title_world %><br>
    <%= form.text_field :title_world %>
  </div>

  <div class="field">
    <%= form.label :title_other %><br>
    <%= form.text_field :title_other %>
  </div>

  <div class="field">
    <%= form.label :year %><br>
    <%= form.text_area :year %>
  </div>

  <div class="field">
    <%= form.label :system %><br>
    <%= form.text_area :system %>
  </div>

  <div class="field">
    <%= form.label :developer %><br>
    <%= form.text_area :developer %>
  </div>

  <div class="field">
    <%= form.label :genre %><br>
    <%= form.text_area :genre %>
  </div>

  <div class="field">
    <%= form.label :time_to_beat %><br>
    <%= form.text_area :time_to_beat %>
  </div>

  <div class="field">
    <%= form.label :screenscraper_id %><br>
    <%= form.text_area :screenscraper_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
