<h1>Games</h1>
<%= form_with url: games_path, method: :get, local: true, class: 'form-inline home' do |f| %>
  <%= text_field_tag :search, params[:search], class: 'form-control mr-sm-2', placeholder: 'Search by name' %>
  <%= f.submit 'Search', class: 'btn btn-outline-primary my-2 my-sm-0' %>
<% end %>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th scope="col"></th>
    </tr>
  </thead>

  <tbody>
    <% @games.each do |game| %>
      <tr>
        <td><%= link_to game.preferred_name, game %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%== pagy_nav(@pagy) %>
