<p id="notice"><%= notice %></p>

<br>
<br>
  <table class="table table-striped table-hover">
    <thead>
    <tr>
      <th scope="col">GotM Nominations: <%= @nominations.gotm.count %></th>
      <th scope="col">Select Winner</th>
    </tr>
    </thead>

    <tbody>
    <% @nominations.gotm.each do |nomination| %>
      <tr>
        <td><%= link_to nomination.game.preferred_name, nomination %></td>
        <td>
          <%= select_winner(nomination) %>
        </td>

      </tr>
    <% end %>
    </tbody>

    <thead>
    <tr>
      <th scope="col">RPGotQ Nominations: <%= @nominations.rpg.count %></th>
      <th scope="col">Select Winner</th>
    </tr>
    </thead>
<tbody>
    <% @nominations.rpg.each do |nomination| %>
      <tr>
        <td><%= link_to nomination.game.preferred_name, nomination %></td>
        <td><%= select_winner(nomination) %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
  <%= paginate @nominations %>
<%= link_to 'Back', nominations_path %>
