<p id="notice"><%= notice %></p>
<div class="card text-center">
  <div class="card-header">
    <h2>Nomination: <%= @nomination.game.preferred_name %></h2>
  </div>
  <div class="row">
    <div class="col"></div>
    <div class="col" style="text-align: left">
      <div class="card-body">
        <%= lazy_render(@nomination.user.name.capitalize, 'Nominated By') %>
        <%= lazy_render(@nomination.theme.title, 'Theme') %>
        <%= lazy_render(@nomination.description, 'Description') %>
        <p><strong>Game: </strong><%= link_to @nomination.game.preferred_name, game_path(@nomination.game) %></p>
        <%= winner?(@nomination) %>
      </div>
    </div>
    <div class="col"></div>
  </div>
<br >
  <div class="card-body">
    <h4>Add a completion for this nomination</h4>
    <%= form_with(url: completions_path, local: true) do |f| %>
      <%= f.hidden_field :completed_at, value: Date.today %>
      <%= f.hidden_field :nomination_id, value: @nomination.id %>
      <%= f.select :user_id, user_options_for_select, prompt: 'Select User' %>
      <%= f.submit "Record Completion" %>
    <% end %>
  </div>

  <div class="card-footer text-muted">
    <%= link_to 'Edit', edit_nomination_path(@nomination) %> |
    <%= link_to 'Back', nominations_path %>
    <%= form_with url: nomination_path(@nomination), method: :delete, local: true do %>
      <%= submit_tag 'Destroy', class: 'btn btn-outline-danger my-2 my-sm-0' %>
    <% end %>
  </div>
</div>
